server:
  port: 10000
  servlet:
    session:
      timeout: 30m

spring:
  application:
    name: gulimall-product
  datasource:
    username: root
    password: root
    url: jdbc:mysql://192.168.120.20:3306/gulimall_pms?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver

  cloud:
    nacos:
      discovery:
        server-addr: 192.168.120.20:8848

    sentinel:
      transport:
        #配置sentinel dashboard地址
        dashboard: 192.168.120.20:8858

  redis:
    host: 192.168.120.20
    port: 6379

#开启feign对sentinel的支持
feign:
  sentinel:
    enabled: true

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss

    #关闭thymeleaf缓存
  thymeleaf:
    cache: false

  session:
    store-type: redis

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml

  #设置实体类的自增主键
  global-config:
    db-config:
      id-type: auto
      #逻辑删除
      logic-delete-value: 1
      logic-not-delete-value: 0

logging:
  level:
    com.shf.gulimall: debug


#暴露所有端点
management:
  endpoints:
    web:
      exposure:
        include: '*'